## Getting started with faker.

In [27]:
from faker import Faker
faker = Faker()

###  fake name generation

In [28]:
#let's start with name
fake_name=faker.name()
print("My fake name is :", fake_name)

My fake name is : Jenny Moon

### fake email generation

In [29]:
# let's start with email
fake_email=faker.email()
print("My fake email is :", fake_email)

My fake email is : schmittcaroline@example.com

### fake address generation

In [30]:
# let's start with address
fake_address=faker.address()
print("My fake address is:", fake_address)

My fake address is: 73158 Wilson Harbors
Port Roy, OH 81991

### Custome domain for email.

In [33]:
fake_email=faker.email(domain='ayush@gmail.com')
print("My real email is:", fake_email)

My real email is: michael22@ayush@gmail.com

### Not properly but also somehow similar email generated in terms of domain only.
### For example @ayush@gmail.com

### Metadata creation.

In [40]:
import pandas as pd
faker=Faker()
data_pii = {
    'Email': [faker.email(), faker.email(), faker.email()],
    'Name': [faker.name(), faker.name(), faker.name()],
    'Address': [faker.address(), faker.address(), faker.address()]
}
dataframe = pd.DataFrame(data_pii)
print(dataframe)

                 Email                  Name  \
0  wbishop@example.net       Laura Alexander
1   pyoung@example.com            Paula Shaw
2   mmckee@example.com  Christopher Gonzalez

                                             Address
0  75818 Justin Track Apt. 478\nPort Samuel, PW 2...
1  60685 Paul Common Suite 305\nPort Jennifermout...
2  2779 Rebecca Brook Suite 328\nRodriguezport, I...

### Generation of fake data in terms of metadata.

### Social Security Number (SSN)

In [41]:
# let's try social security number
faker_ssn=faker.ssn()
print("Fake Social Sceurity Number is:", faker_ssn)

Fake Social Sceurity Number is: 125-07-3907

### Phone Number Creation

In [43]:
# let's try fake phone number
faker_phone=faker.phone_number()
print("My fake phone number is:",faker_phone)

+1-253-896-2185x188

### Fake DOB Creation

In [44]:
# let's try fake date of birth
fake_birth=faker.date_of_birth()
print("My fake birth date is:",fake_birth)

My fake birth date is: 1972-04-12

### Fake Credit Card Creation

In [45]:
# let's tyr credit card number
fake_credit=faker.credit_card_number()
print("My fake credit card number is:", fake_credit)

My fake credit card number is: 676365405155

### Creating more data.

In [92]:
# for i in range(21):
#     print(faker.credit_card_number(),end=' ')
credit_card=[faker.credit_card_number() for _ in range(21)]
print(credit_card)

['4008576665674910', '6011169236458755', '3566337050249727', '4992011669183626442', '180094611952438', '3540270116864620', '4223728179323026', '4679121416140', '2270937710040900', '2238069847759656', '375356690551075', '3520918435797863', '4050505739769155', '6516493289802713', '4271783332116025647', '4712871539918', '4668633414111594', '4952569040981', '4655289931609', '180052437729422', '3595481497374600']

### Converting the generated data into dataframe with the help of pandas.

In [84]:
import pandas as pd
data={
    'Credit Card Number': [faker.credit_card_number() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

     Credit Card Number
0      6542493631230348
1        38866032420440
2      4070015941651627
3         4981898471393
4      2275963632123470
5      6590785158673425
6       375409003486453
7      4837606441343279
8      4604177656124813
9       379857002720635
10     4591123829657722
11  4954316526693008937
12     2434206969421523
13     3508677133344768
14     4393436262044392
15       30359710725635
16     3569411800537595
17     4048964652809248
18     4572158624150278
19  4644948562572870322
20         562074276170

### Exception raised in Credit Card Number. 
### 1. Data generated in ex: 4444328309652074465 (Failing the validity).
### 2. Official validity is 15 or 16 digits.
### 3. It can be possible to settle down it's misbehvaiour by slicing upto 15/16 numeric digits.

In [87]:
import pandas as pd
data={
    'Credit Card Number': [faker.credit_card_number()[:15] for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

   Credit Card Number
0        676374120944
1     213181398909839
2      30018204339713
3     180069070562605
4     180064111824221
5     424620952004615
6     410339937886140
7     601170630489138
8     449671832582386
9     180000794200743
10    356539840289141
11    601128463985547
12    455379502097002
13    601118071569562
14    351753703045319
15    433750479303614
16    352839992192124
17    358430894870605
18    654187758030468
19     30506351903612
20      4254110760955

### Dive into phone number dataset.

In [59]:
### let's check for the phone number case:
data={
    'Phone Number':[faker.phone_number() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

             Phone Number
0       572-626-9848x5833
1   +1-652-828-8515x87996
2              6814062003
3       542-804-3805x7198
4            284.206.6658
5   001-943-497-3598x9334
6   +1-612-228-1606x48422
7      372-702-5909x47985
8      532.781.8268x86153
9      554-239-8780x15739
10  +1-956-216-4840x85887
11      835-381-1288x0133
12           386.312.0750
13             8249819346
14   +1-366-750-6180x9190
15     514.449.1476x60728
16  001-268-842-4508x8210
17        +1-481-443-5368
18          (939)343-1290
19      314-513-9755x2314
20     277-759-4929x95562

### Observations -> 
### 1. Mix Match - (If customization possible will be helpful.)
### 2. Customization in terms of particular country code for ex:(+91 XXXXXXXXX)

In [66]:
# faker don't directly support the customization of phone number on the basis of country code directly.
indian_phone_numbers = ['+91 ' + faker.msisdn()[:10] for _ in range(21)]
print(indian_phone_numbers)

['+91 4759876220', '+91 3261117800', '+91 4921643347', '+91 0055778487', '+91 9688457831', '+91 4240082547', '+91 4064930853', '+91 3266341638', '+91 6312241797', '+91 5020802144', '+91 1207356475', '+91 2046187234', '+91 6730371837', '+91 0881474350', '+91 5024916300', '+91 5132719500', '+91 2735857306', '+91 7784873928', '+91 9821827448', '+91 2095935186', '+91 9456511810']

### Observations/Limitations ->
### 1. Not support direct conversion or generation of phone number country wise.
### 2. It support msisdn() function - faker.msisdn() generates a mobile subscriber ISDN (Integrated Services Digital Network) number, which is a unique identifier for a mobile phone.

In [70]:
# let's try out the dataset for phone numbers.
data={
    'Phone Number':['+91' +" "+ faker.msisdn()[:10] for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

      Phone Number
0   +91 6954899529
1   +91 7293430107
2   +91 6055830344
3   +91 0155699023
4   +91 0272785760
5   +91 8803955124
6   +91 9962914504
7   +91 5743842150
8   +91 7823578452
9   +91 0768104091
10  +91 8409435334
11  +91 1422410988
12  +91 8542493214
13  +91 0207016016
14  +91 9545381792
15  +91 4773329456
16  +91 7017157724
17  +91 8161581487
18  +91 9382761539
19  +91 8321971997
20  +91 2461919657

### faker_msisdn=faker.msisdn()
### print(faker_msisdn) 
### Conclusion -> None use if single used for ex('4946519098624').

### Fake Name Dataset Generation.

In [93]:
fake_names=[faker.name() for _ in range(21)]
print(fake_names)

['Mrs. Samantha Clark', 'Rita Graves', 'Sean White', 'Mr. William Hopkins', 'Wendy Kelley', 'Michael Mooney', 'Jeanne Rose', 'Michael Lee', 'Jennifer Anderson', 'Lauren Trujillo', 'Michelle Ellis', 'Chad Dominguez', 'Charles Robinson', 'Nancy Smith', 'Laura Gregory', 'Brittany Clements MD', 'Tammy Davis', 'Catherine Williams', 'Miss Leslie Booker', 'Jennifer Johnson', 'John Watts']

### Converting into DataFrame.

In [89]:
data={
    'Name':[faker.name() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

                  Name
0      Kimberly Thomas
1         Larry Carter
2       Kelly Sandoval
3        David Fuentes
4           Amy Cooper
5      Margaret Harris
6       Collin Alvarez
7       Julie Schwartz
8         Kylie Rogers
9          Gary Garcia
10      Susan Crawford
11     Margaret Steele
12     Daniel Castillo
13       Robin Aguirre
14      James Mckenzie
15         Adam Howard
16    Brenda Alexander
17          Susan Ward
18  Christina Mitchell
19     Dennis Thompson
20   Danielle Gonzalez

### for i in range(21):
###     print('Ayush' + " " + faker.name()[7:]) 
### for immediate need of name generation like 'Ayush' we can use slicing for fecthing only sir name.
### for ex:(Ayush own, Ayush  Alvarez , Ayush  Davila , Ayush atfield , Ayush errano)

In [94]:
fake_names=['Mr.'+" "+faker.name() for _ in range(21)]
print(fake_names)

['Mr. Marissa Bennett', 'Mr. Rebecca Barrett', 'Mr. Sharon Santos', 'Mr. Matthew Richardson', 'Mr. Bradley Burns', 'Mr. Katrina Johnson', 'Mr. Laura Hill', 'Mr. Rebecca White', 'Mr. Mr. Jeffrey Duncan', 'Mr. Arthur Stout', 'Mr. Cathy Hess', 'Mr. Justin Herrera', 'Mr. Katherine Stone', 'Mr. Michelle Tyler', 'Mr. Paul Sheppard', 'Mr. Catherine George', 'Mr. Justin Mcbride', 'Mr. Carl Harris', 'Mr. Justin York', 'Mr. William Hunter', 'Mr. Joshua Henderson']

### Observations/Limitations ->
### 1. Modification is possible but their is some kind of uncertainity in the results.
### 2. For ex (Mr. Mr. Jeffrey Duncan)
### Creating the data set with salutation (Mr./Mrs.)

### Fake data creation for address.

In [95]:
fake_address=[faker.address() for _ in range(21)]
print(fake_address)

['USS Wright\nFPO AE 68585', 'PSC 4872, Box 9758\nAPO AA 79953', '103 Jacob Hills\nEast Carrie, IL 78067', '961 Green Run\nSouth Stephen, KS 89174', '314 Jennifer Port\nSouth Lorraine, MD 57337', '41818 Jones Route\nWest Reginaview, FL 30092', '3611 Alisha Wells\nBriannafort, CT 69832', '491 George Terrace Suite 258\nWoodsberg, KS 01745', '226 Brown Stream\nJasminebury, TX 80284', '75784 Cisneros Pike Apt. 414\nTownsendland, SC 10917', '29014 Stokes Branch\nRhodesberg, NJ 65749', '0930 Park Summit\nJohnhaven, TX 80349', '83215 Willie Center Suite 762\nTaramouth, PW 89507', '4744 Aaron Roads\nRobinsonport, SD 68072', '9705 Christina Isle\nMichaeltown, MI 95191', '16731 Robert Oval Apt. 243\nFosterport, MN 56644', '77225 Smith Ways Apt. 134\nEast Ralphmouth, MH 04643', '4167 Marsh Station\nWest Karen, WI 52913', '11022 Porter Trafficway Apt. 056\nSouth Timothyport, NM 11329', '282 Juan Crescent\nVirginiabury, TN 56751', '892 Victoria Ramp\nEast David, MO 05529']

### Converting into dataframe.

In [96]:
data={
    'Address':[faker.address() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

                                              Address
0               60931 Omar Pine\nIsabelbury, IN 44564
1          604 Joseph Harbors\nJenniferbury, MD 06734
2                  53474 Ryan Glen\nCoxport, DE 13200
3            5598 Allen Harbor\nNew Patrick, FM 14442
4             93371 Shelly River\nKevinfort, WV 26977
5   23684 Jacobson Mission\nSouth Carloschester, N...
6           424 Stephanie Circle\nLake Lisa, NM 90245
7           78686 Lawson Ford\nNorth Ernest, IL 78110
8   844 Kenneth Grove Apt. 230\nWest Benjamin, FL ...
9                    PSC 4033, Box 8105\nAPO AP 79820
10                   Unit 5184 Box 2694\nDPO AA 08006
11         3424 Amanda Ways\nLake Juliefurt, SD 34231
12          3543 Moore Fort\nRichardsonfort, CO 65507
13         39724 Kyle Fall\nMcdanielborough, CA 19312
14              6182 Carrie Lane\nSmithtown, WV 84974
15                          USNS Wright\nFPO AE 35583
16            18513 Timothy Port\nOchoaport, MA 63272
17          481 Mallory Cove\nCurtischester, FL 00659
18                   PSC 0366, Box 2543\nAPO AP 50930
19            2131 Howard Ridges\nDavidland, MH 06182
20       8592 Hernandez Shores\nColleenport, MI 14122

### Understanding the way to manipulate/generate single value address field.

In [106]:
# let's modify the country type/ state type /city type.
fake_city = faker.city()
fake_state =faker.state()
fake_country=faker.country()
print(fake_city)
print(fake_state)
print(fake_country)

Steelechester
Rhode Island
South Africa

### Converting into dataframe for each specific entity.

In [119]:
# let's try country wise.
data={
    'Address':[faker.country() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

                             Address
0                         Tajikistan
1       Svalbard & Jan Mayen Islands
2                           Maldives
3       Svalbard & Jan Mayen Islands
4   Saint Vincent and the Grenadines
5               Netherlands Antilles
6                              Ghana
7                            Grenada
8                              Chile
9                         Montserrat
10                            Jersey
11                Dominican Republic
12                           Moldova
13                             India
14                             Congo
15                         Nicaragua
16                            Norway
17                             India
18                       Switzerland
19                           Austria
20                             Spain

### Rest same for all specific type just need to change the function call.

In [120]:
# let's try state wise.
data={
    'Address':[faker.state() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

           Address
0           Oregon
1           Nevada
2          Florida
3     South Dakota
4         Missouri
5       Washington
6            Idaho
7          Montana
8    Massachusetts
9     North Dakota
10          Hawaii
11          Nevada
12            Iowa
13     Connecticut
14        Virginia
15         Florida
16  North Carolina
17        Delaware
18    South Dakota
19          Oregon
20         Montana

In [121]:
# let's try city wise
data={
    'Address':[faker.city() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

                 Address
0              Maryburgh
1              Jamesland
2   South Alexandershire
3        North Christine
4        New Patrickberg
5            Waltersstad
6            East Denise
7             West James
8          Lake Kimberly
9            Townsendton
10       Christopherberg
11       Lake Traciville
12       South Saraville
13      East Justinburgh
14        North Troystad
15           South Craig
16     South Charlesland
17           Lake Robert
18          Cynthiamouth
19             East Kent
20           Lake Ashley

### Observations/Limitations ->
### 1. Through this we can generate a better datasets for country / state / city type.
### 2. Results were all clear.

### Fake data creation for DOB.

In [126]:
# fake_dob=[faker.date_of_birth() for _ in range(21)]
# print(fake_dob)
for i in range(21):
    print(faker.date_of_birth())
# fake_birth=faker.date_of_birth()
# print(fake_birth)

2016-03-29
2012-08-10
1988-04-06
1950-09-13
1930-11-03
2016-05-15
1936-04-22
2006-07-26
1974-09-09
1967-04-16
1969-01-06
1965-12-19
1989-06-15
2009-12-21
1945-04-08
2019-05-04
1951-09-05
1993-01-27
1922-12-07
1990-12-12
1960-06-05

### Converting them into dataframe.

In [132]:
### let's try the DOB.
data={
    'DOB':[faker.date_of_birth() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

           DOB
0   1927-01-18
1   1987-09-15
2   1970-12-31
3   1924-08-13
4   1925-06-26
5   1951-10-05
6   1928-06-10
7   2010-10-14
8   1987-10-19
9   2024-01-02
10  1964-07-18
11  1994-12-24
12  1969-02-07
13  1999-03-31
14  1924-12-14
15  1979-04-24
16  1980-02-07
17  1941-01-12
18  1986-12-12
19  1973-05-05
20  1998-04-18

### Observations/Limitations ->
### 1. All clear no changes/modifications required.

### Fake data creation for SSN

In [130]:
# let's try ssn.
fake_ssn=[faker.ssn() for _ in range(21)]
print(fake_ssn)

['327-89-0179', '735-43-3503', '477-73-5269', '239-72-1086', '395-37-9860', '218-68-3563', '106-72-4556', '734-78-1226', '588-83-6910', '699-97-7131', '326-41-3247', '202-07-8093', '511-06-4497', '432-16-2034', '464-22-9854', '335-76-6273', '243-74-0349', '292-03-9434', '005-60-4660', '135-52-0607', '547-68-0641']

In [131]:
### Converting into dataframe.
data={
    'SSN':[faker.ssn() for _ in range(21)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

            SSN
0   346-83-0267
1   072-61-1559
2   850-54-4932
3   282-41-5666
4   410-11-9117
5   794-41-8091
6   628-07-6445
7   306-90-7448
8   506-83-1990
9   864-48-1684
10  030-29-0784
11  846-02-2274
12  108-42-7139
13  232-22-1443
14  196-93-6044
15  836-69-0081
16  705-07-4255
17  804-06-1816
18  050-39-1230
19  271-43-6219
20  277-90-2791

### Observations/Limitations ->
### 1. All clear no changes/modifications required.

### Create Final BigData ->

In [135]:
data={
    'Name':[faker.name() for _ in range(51)],
    'Email':[faker.email(domain='ayushorg@gmail.com') for _ in range(51)],
    'Country':[faker.country() for _ in range(51)],
    'SSN':[faker.ssn() for _ in range(51)],
    'DOB':[faker.date_of_birth() for _ in range(51)],
    'Contact':['+91'+" "+ faker.msisdn()[:10] for _ in range(51)]
}
dataframe=pd.DataFrame(data)
print(dataframe)

                     Name                                   Email  \
0            Jesse Tucker               yfritz@ayushorg@gmail.com
1           Jennifer Wise         nicholasrush@ayushorg@gmail.com
2           David Walters         davisjeffery@ayushorg@gmail.com
3            Rebekah Cole        duncangregory@ayushorg@gmail.com
4             John Rogers           katiejoyce@ayushorg@gmail.com
5             Holly Floyd              wpierce@ayushorg@gmail.com
6       Ms. Janet Leonard         robertgreene@ayushorg@gmail.com
7            George Villa             kaylee15@ayushorg@gmail.com
8          Christina Hess               zperez@ayushorg@gmail.com
9         Jordan Williams             ssherman@ayushorg@gmail.com
10            Bryan Burns               lmoore@ayushorg@gmail.com
11          Stephen Parks             iroberts@ayushorg@gmail.com
12        George Phillips            kathryn21@ayushorg@gmail.com
13         Kimberly White           acarpenter@ayushorg@gmail.com
14            Alan Nguyen             ojenkins@ayushorg@gmail.com
15           Linda Howard     montgomerydillon@ayushorg@gmail.com
16          Parker Wright        greenejessica@ayushorg@gmail.com
17         Brandon Acosta           nguyenjohn@ayushorg@gmail.com
18           Jessica Hill               xcohen@ayushorg@gmail.com
19        Melissa Sanchez           paulnicole@ayushorg@gmail.com
20          Sandy Oconnor              marnold@ayushorg@gmail.com
21             Judy Jones         stephensharp@ayushorg@gmail.com
22         Charles Davila         gregorygiles@ayushorg@gmail.com
23            Sonia Reyes         marcuscarter@ayushorg@gmail.com
24       Mrs. Tammy Curry          clarksteven@ayushorg@gmail.com
25          Alex Clements      gabrielawallace@ayushorg@gmail.com
26        Matthew Andrade         laurakaufman@ayushorg@gmail.com
27         Jessica Wilson             laramary@ayushorg@gmail.com
28            Dean Turner            johnbowen@ayushorg@gmail.com
29          Sarah Sanchez         smithantonio@ayushorg@gmail.com
30     Jacqueline Kennedy             ecamacho@ayushorg@gmail.com
31        Jessica Burgess               ajones@ayushorg@gmail.com
32         Destiny Powers             nicole81@ayushorg@gmail.com
33          Susan Gregory        gonzalesmaria@ayushorg@gmail.com
34            Jason Smith        carterraymond@ayushorg@gmail.com
35           Carlos Adams          coxjennifer@ayushorg@gmail.com
36         Vanessa Flores           hpatterson@ayushorg@gmail.com
37          Albert Nguyen           thomasjose@ayushorg@gmail.com
38          Dwayne Joseph         bowenmichael@ayushorg@gmail.com
39           Leah Walters             donald37@ayushorg@gmail.com
40           James Spears         josephrivera@ayushorg@gmail.com
41           Gilbert Reed           ellisjenna@ayushorg@gmail.com
42            Joel Newton    katherinepeterson@ayushorg@gmail.com
43       Michael Chambers              crivera@ayushorg@gmail.com
44          Andrew Phelps             ashley90@ayushorg@gmail.com
45           Lynn Hoffman          earlroberts@ayushorg@gmail.com
46          Daniel Mercer        nicoleelliott@ayushorg@gmail.com
47          Edgar Stewart         kristopher29@ayushorg@gmail.com
48           Alyssa Weber             thomas74@ayushorg@gmail.com
49           Guy Reynolds            julianeal@ayushorg@gmail.com
50  Allison Mcpherson DDS  catherinevillarreal@ayushorg@gmail.com

                                         Country          SSN         DOB  \
0                              Equatorial Guinea  317-27-3676  1995-02-11
1                       Northern Mariana Islands  154-36-9972  2001-10-16
2                                        Denmark  797-94-1960  1981-08-07
3   Antarctica (the territory South of 60 deg S)  667-26-5841  2020-03-31
4                                       Thailand  511-59-9330  1933-02-26
5                                        Croatia  654-02-8588  1934-08-24
6                                        Myanmar  234-95-3319  2014-04-16
7                                          Gabon  373-86-0539  1923-02-04
8                                       Cameroon  409-81-1620  2012-02-14
9                                        Myanmar  338-65-1101  1939-11-05
10                                American Samoa  278-71-8762  1937-04-26
11                                       Eritrea  867-95-8811  1950-02-09
12                                         Haiti  894-11-0918  1976-08-03
13                                  Saint Helena  458-73-8568  1949-11-10
14                                        Malawi  254-32-4196  1951-11-08
15                                         Samoa  817-95-2994  2012-08-09
16                           Trinidad and Tobago  707-84-4016  1980-06-26
17                                      Maldives  234-89-7473  1972-07-09
18                                          Iraq  182-06-9981  1922-04-22
19                                       Lesotho  273-71-4547  2001-06-28
20                                         Niger  094-96-3114  1949-02-19
21                          United Arab Emirates  751-09-2172  1991-04-03
22                                         Chile  536-39-0998  1936-12-01
23                                     Guatemala  213-30-3997  1986-01-04
24                                        Norway  600-98-9524  1999-09-28
25                                    Cape Verde  489-60-1611  1929-05-04
26                                       Namibia  550-07-5225  1952-05-12
27                                   Timor-Leste  809-82-1197  1929-08-01
28                                         Macao  202-62-1908  1934-06-01
29                                       Germany  453-11-7800  2012-08-08
30                                          Mali  203-13-8887  1962-03-24
31                 Holy See (Vatican City State)  604-28-9803  2015-03-31
32                                      Honduras  499-39-9328  1931-09-05
33                                         Tonga  010-75-7042  1929-10-17
34                                       Vanuatu  882-15-7253  1991-05-03
35                        Libyan Arab Jamahiriya  797-83-3192  1998-06-23
36                                          Oman  604-82-7476  1929-09-07
37                                         Chile  001-33-6672  1952-08-15
38                           Trinidad and Tobago  616-35-8071  1978-08-03
39                                         Malta  647-23-5385  1972-10-11
40                                       Liberia  520-62-8425  1997-03-28
41                                         China  291-83-4910  1989-04-23
42                                       Liberia  271-69-4080  2015-08-24
43                                       Ukraine  350-36-9196  1965-01-14
44                                     Hong Kong  516-40-7210  2014-06-03
45                                American Samoa  115-97-2985  2007-03-03
46                                      Paraguay  500-01-5230  1944-12-17
47                                         Yemen  522-61-8123  1939-06-05
48                                       Bahrain  168-23-1075  1944-01-27
49                                          Guam  779-56-4992  1972-07-14
50                                Czech Republic  097-57-5611  2021-11-12

           Contact
0   +91 5245557469
1   +91 0652740334
2   +91 6658833987
3   +91 2579706734
4   +91 1054857417
5   +91 2294938173
6   +91 8840215573
7   +91 7553449021
8   +91 0808509608
9   +91 9511918182
10  +91 9316477251
11  +91 8606940960
12  +91 2439587395
13  +91 3421089028
14  +91 3334264335
15  +91 6073607763
16  +91 1289812317
17  +91 3318574817
18  +91 6155416431
19  +91 5023290282
20  +91 9345962622
21  +91 1207346549
22  +91 0702608698
23  +91 5316117768
24  +91 4774258591
25  +91 2382231164
26  +91 4245798894
27  +91 2906032020
28  +91 0977539673
29  +91 1485524578
30  +91 1560821371
31  +91 5476818268
32  +91 3589298808
33  +91 5212932896
34  +91 4686775240
35  +91 3991062272
36  +91 6933513426
37  +91 7245018481
38  +91 4189721540
39  +91 6927438119
40  +91 6601444856
41  +91 1739739641
42  +91 9860919191
43  +91 6057798066
44  +91 0514607455
45  +91 0574238856
46  +91 5598354116
47  +91 6347557522
48  +91 9488488269
49  +91 9642585626
50  +91 5370382407

### Fake Data Generated Successfully.

### © Made with ♥ by Ayush Siloiya